@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
* {
  font-family: 'inter', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #B076D4;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.clockContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Barra de progresso */
.clockContainerCircle {
  width: 550px;
  height: 550px;
  /* overflow: hidden; */
  background-color: #f1f1f1;
  border-radius: 50%;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 20px;
  z-index: 1;
}
.semiCircle {
  width: 50%;
  height: 100%;
  position: absolute;
  border-radius: 100% 0% 0% 100% / 50% 0% 0% 50% ;
  top: 0;
  left: 0;
  transform-origin: right center;
}
.semiCircle:nth-child(1) {
  background-color: #a66fc8;
  z-index: 2;
}
.semiCircle:nth-child(2) {
  background-color: #a66fc8;
  z-index: 3;
}
.semiCircle:nth-child(3) {
  background-color: #f1f1f1;
  z-index: 4;
}
.miniCircleContainer {
  width: 0.2%;
  height: 103%;
  position: absolute;
  transform-origin: right center;
  z-index: 6;
}
.miniCircle {
  background-color: #f1f1f1;
  width: 30px;
  height: 30px;
  position: relative;
  border-radius: 50%;
  z-index: 10;
}
.outwestCircle {
  width: 96%;
  height: 96%;
  position: absolute;
  background-color: #B076D4;
  border-radius: 50%;
  z-index: 5;
}
/* Teste de Rotação */
/* .clockContainerCircle:hover .semiCircle:nth-child(1) {
  transform: rotate(180deg);
  transition: 1s linear;
}
.clockContainerCircle:hover .semiCircle:nth-child(2) {
  transform: rotate(360deg);
  transition: 2s linear;
}
.clockContainerCircle:hover .semiCircle:nth-child(3) {
  opacity: 0;
  transition: opacity 0s 1s;
}
.miniCircleContainer:hover {
  transform: rotate(360deg);
  transition: 2s linear;
} */
/*  */

/* Relogio */
.clockContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clockContent .clock {
  color: #f1f1f1;
  display: flex;
}
.clockInput {
  background: none;
  width: 165px;
  height: 150px;
  margin-top: 80px;
  font-size: 115px;
  border: none;
  text-align: center;
  color: #f1f1f1;
  outline: 0;
}
.clockInput::placeholder {
  font-size: 115px;
  color: #f1f1f1;
}
.clockInput::after {
  border: none;
}
.clockDaysContainer {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#clockDays {
  font-size: 35pt;
  padding-right: 28px;
}
.retangleBarClock {
  background-color: #f1f1f1;
  width: 64px;
  height: 6px;
  margin-top: 4px;
  margin-bottom: 4rem;
  box-shadow: 0px 4px 4px rgb(0, 0, 0, 25%);
}
.playPause #start {
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.1s;
}


.buttons {
  margin-top: 6rem;
  display: flex;
  justify-content: flex-end;
}
.buttons div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttons #buttonReset {
  color: #f1f1f1;
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 400;
  background: none;
  border: none;
  cursor: default;
  text-shadow: 3px 4px 4px rgb(0, 0, 0, 25%);
  outline: 0;
  opacity: 50%;
  transition: 0.1s;
}
.buttons #retangleBarReset {
  background-color: #f1f1f1;
  width: 64px;
  height: 6px;
  margin-top: 15px;
  box-shadow: 0px 4px 4px rgb(0, 0, 0, 25%);
  opacity: 50%;
  transition: 0.1s;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@media(max-width: 590px) {
  .clockContainerCircle {
    width: 450px;
    height: 450px;
  }
  .miniCircle {
    width: 25px;
    height: 25px;
  }
  .clockInput {
    width: 135px;
    height: 150px;
    margin-top: 40px;
    font-size: 95px;
  }
  .clockInput::placeholder {
    font-size: 95px;
  }
  #clockDays {
    font-size: 26pt;
    padding-right: 25px;
  }
  .retangleBarClock {
    width: 60px;
    height: 5px;
    margin-top: 4px;
    margin-bottom: 4rem;
  }
  .playPause #start img {
    width: 85%;
  }
  .buttons #buttonReset {
    font-size: 42px;
  }
  .buttons #retangleBarReset {
    width: 60px;
    height: 5px;
    margin-top: 10px;
  }
}
@media(max-width: 490px) {
  .clockContainerCircle {
    width: 350px;
    height: 350px;
  }
  .miniCircle {
    width: 20px;
    height: 20px;
  }
  .clockInput {
    width: 100px;
    height: 150px;
    margin-top: 30px;
    font-size: 70px;
  }
  .clockInput::placeholder {
    font-size: 70px;
  }
  #clockDays {
    font-size: 20pt;
    padding-right: 33px;
  }
  .retangleBarClock {
    width: 50px;
    height: 4px;
    margin-top: 0px;
    margin-bottom: 3rem;
  }
  .playPause #start img {
    width: 75%;
  }
  .buttons #buttonReset {
    font-size: 38px;
  }
  .buttons #retangleBarReset {
    width: 50px;
    height: 4px;
    margin-top: 8px;
  }
}
@media(max-width: 365px) {
  .clockContainerCircle {
    width: 300px;
    height: 300px;
  }
  .miniCircle {
    width: 15px;
    height: 15px;
  }
  .clockInput {
    width: 90px;
    height: 150px;
    margin-top: 30px;
    font-size: 65px;
  }
  .clockInput::placeholder {
    font-size: 65px;
  }
  #clockDays {
    font-size: 15pt;
    padding-right: 20px;
  }
  .retangleBarClock {
    width: 45px;
    height: 3.5px;
    margin-top: 0px;
    margin-bottom: 2rem;
  }
  .playPause #start img {
    width: 68%;
  }
  .buttons #buttonReset {
    font-size: 35px;
  }
  .buttons #retangleBarReset {
    width: 45px;
    height: 3.5px;
    margin-top: 10px;
  }
}